.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: calc(100vh - (176px + 112px));
  padding-top: 80px;
  padding-bottom: 100px;
}

.footer {
}

.block {
  height: 300px;
  background-color: red;
}

@media (max-width: 1024px){
.wrapper{
  max-width: 900px;
}
}