.button{
  width: 96px;
  height: 47px;
  background-color: white;
  border: 1px solid #242424;
  color: #8C8C8C;
}

.button:focus{
  color: #242424;
}

.buttons{
  display: flex;
  justify-content: space-between;
}