
.button{
    display: flex; justify-content: space-around;
  gap: 24px;
}

.button_white{
  background-color: white;
  color: black;
  margin-top: 0px;
}

.button_black{
  background-color: #242424;
  color: white;
  margin-top: 0px;
}

.button_black_footer{
  background-color: #242424;
  color: white;
  border-color: white;
  margin-top: 0px;
}

@media (max-width: 1200px){

  .button{
    display: flex; justify-content: space-around;
    gap: 12px;
  }
}

@media (max-width: 800px) {

  .button_white{
  width: 80px;
  }

  .button_black{
  width: 80px;
  }

  .button{
    display: flex; justify-content: start;
    padding-right: 30px;
  }
  .button_black_footer{
    width: 80px;
  }

}