.title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: start;
}

.pag{
  width: 96px;
  height: 47px;
  background-color: white;
  border: 1px solid #242424;
  color: #8C8C8C;
}

.button:focus{
  color: #242424;
}

.pagBtn{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px){

  .title {
   padding-left: 50px;
  }
}


@media (max-width: 800px){

  .title {
     font-size: 42px;
     text-align: center;
   }
}
