.navHeader{
    display: flex;justify-content: space-between;
}
a{
    padding: 16px;
    font-size: 15px;
    line-height: 15px;
    color: #8C8C8C;

    text-decoration: none;
}
a:hover{
    text-decoration-line: underline;
}
button{
    width: 113px;
    height: 47px;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    border: 1px solid #242424;
    background: black;
    color:white;
}