.inform {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inform_el {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #242424;
  padding-bottom: 12px;
}

.inputReg {
  box-sizing: border-box;
  width: 396px;
  height: 47px;
  border: 1px solid #8C8C8C;
  margin-bottom: 32px;
}
.inputChange {
  box-sizing: border-box;
  width: 500px;
  height: 47px;
  border: 1px solid #8C8C8C;
  margin-bottom: 32px;
}

@media (max-width: 1024px){
  .inputChange {
    width: 250px;
  }

}

@media (max-width: 850px){
  .inputChange {
    width: 300px;
  }
}

@media (max-width: 650px){
  .inputChange {
    width: 420px;
  }
}