.bigImg{
  width: 582px;
  height: 397px;
}
.smallImg{
  width: 367px;
  height: 260px;
}
.img{
  width: 582px;
  height: 397px;
}
@media (max-width: 1200px){
  .bigImg{
    width: 350px;
    height: 350px;
  }
  .smallImg{
    width:280px;
  }
}
@media (max-width: 1024px){
  .bigImg{
    width: 280px;
    height: 350px;
  }
  .smallImg{
    width:240px;
    height: 240px;
  }
}



@media (max-width: 780px){
  .bigImg{
    width: 240px;
  }
  .smallImg{
    width:200px;
  }
}