.h1 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #242424;
  padding-top: 50px;
  padding-bottom: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 396px;
  height: 55px;
  background: #242424;
  margin-top: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #FFFFFF;
}

.link {
  padding-top: 24px;
  padding-bottom: 281px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #242424;
}

.active {
  padding-top: 24px;
  padding-bottom: 281px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 15px;
  color: #242424;
  text-decoration-line: underline;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 18px;
}